# editor backup files
*~
.\#*

# compiler output
*.o
*.a

# Octave plugins (compiled)
*.oct

# precompiled headers
*.gch

# Qt preprocessor
moc_*.cxx
qrc_*.cxx

# CMake
Makefile
CMakeFiles/
CMakeCache.txt
/Generated/
*.qrc.depends
cmake_install.cmake
CPack*.cmake
CTest*.cmake

#Unit test binaries
*_UnitTests
!*_UnitTests/

# Target program
/ApplicationCode/ResInsight
/.project
