[submodule "ThirdParty/qwt"]
	path = ThirdParty/qwt
	url = https://github.com/CeetronSolutions/qwt.git
[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/CeetronSolutions/vcpkg
[submodule "ThirdParty/custom-opm-common/opm-common"]
	path = ThirdParty/custom-opm-common/opm-common
	url = https://github.com/CeetronSolutions/opm-common
[submodule "ThirdParty/roffcpp"]
	path = ThirdParty/roffcpp
	url = https://github.com/CeetronSolutions/roffcpp
[submodule "ThirdParty/openzgy"]
	path = ThirdParty/openzgy
	url = https://github.com/CeetronSolutions/openzgy.git
[submodule "ThirdParty/regression-analysis"]
	path = ThirdParty/regression-analysis
	url = https://github.com/CeetronSolutions/regression-analysis.git
[submodule "ThirdParty/tomlplusplus"]
	path = ThirdParty/tomlplusplus
	url = https://github.com/marzer/tomlplusplus.git
[submodule "ThirdParty/qtadvanceddocking"]
	path = ThirdParty/qtadvanceddocking
	url = https://github.com/CeetronSolutions/qtadvanceddocking.git
[submodule "ThirdParty/custom-surfio/surfio"]
	path = ThirdParty/custom-surfio/surfio
	url = https://github.com/equinor/surfio.git
