[submodule "ThirdParty/qwt"]
	path = ThirdParty/qwt
	url = https://github.com/CeetronSolutions/qwt.git
[submodule "ThirdParty/vcpkg"]
	path = ThirdParty/vcpkg
	url = https://github.com/CeetronSolutions/vcpkg
[submodule "ThirdParty/toolbelt"]
	path = ThirdParty/toolbelt
	url = https://github.com/oschonrock/toolbelt
[submodule "ThirdParty/mio"]
	path = ThirdParty/mio
	url = https://github.com/mandreyel/mio
[submodule "ThirdParty/fast_float"]
	path = ThirdParty/fast_float
	url = https://github.com/fastfloat/fast_float
