language: cpp

dist: bionic

addons:
    apt:
        packages:
            - libxkbcommon-x11-0
            - libgl1-mesa-dev

services: 
    - xvfb

env:
    - QT_CI_PACKAGES=qt.qt5.5132.gcc_64,qt.qt5.5132.qtscript,qt.qt5.5132.qtscript PATH="$TRAVIS_BUILD_DIR/Qt/5.13.2/gcc_64/bin:${PATH}"

script:
    - git clone https://github.com/benlau/qtci.git
    - source qtci/path.env
    - install-qt 5.13.2
    - mkdir -p build
    - cd build
    - cmake -DOpenGL_GL_PREFERENCE=GLVND -DCMAKE_PREFIX_PATH=$TRAVIS_BUILD_DIR/Qt/5.13.2/gcc_64 -DRESINSIGHT_INCLUDE_APPLICATION_UNIT_TESTS=true -DRESINSIGHT_ENABLE_COTIRE=true .. 
    - make -j8 ResInsight_unity
     