---
Checks:            '-*,modernize-use-override,modernize-deprecated-headers,modernize-use-using,bugprone-bool-pointer-implicit-conversion,bugprone-parent-virtual-call,bugprone-redundant-branch-condition,bugprone-suspicious-semicolon,bugprone-suspicious-string-compare,modernize-redundant-void-arg,readability-static-accessed-through-instance'
WarningsAsErrors:  ''
HeaderFilterRegex: 'ApplicationLibCode/*.*$'
FormatStyle:       'file'
