<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
        <p>
	        <a href="{{ site.baseurl }}/project/about">About</a><br>
        </p>
    </div>
     <div class="unit one-third align-center">
	<p>
	   <a href="http://www.ceetronsolutions.com">Ceetron Solutions AS</a><br>
	   In collaboration with <a href="https://www.equinor.com/">Equinor ASA</a>
	</p>
    </div>
    <div class="unit one-third align-right center-on-mobiles">
      <p>
        <a href="{{ site.baseurl }}/project/support">Support</a>
      </p>
    </div>
  </div>
</footer>
