<footer>
  <div class="grid">
    <div class="unit one-third center-on-mobiles">
        <p>
	        <a href="{{ site.baseurl }}/docs/about">About</a><br>
            <a href="{{ site.baseurl }}/docs/contact">Contact</a>
        </p>
    </div>
     <div class="unit one-third align-center">
	<p>
	   <a href="http://www.ceetronsolutions.comres">Ceetron Solutions AS</a><br>
	   In collaboration with Statoil ASA
	</p>
    </div>
    <div class="unit one-third align-right center-on-mobiles">
      <p>
        <a href="http://resinsight.org">resinsight.org</a>
      </p>
    </div>
  </div>
</footer>
