<ul style="line-height: 150%;" >
  <li class="{% if page.overview %}current{% endif %}">
    <a href="{{ site.baseurl }}/">Home</a>
  </li>
  <li class="{% if page.url contains '/docs/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/docs/home/">Doc<span class="show-on-mobiles">s</span><span class="hide-on-mobiles">umentation</span></a>
  </li>
  <li class="{%unless page.url contains '/download/' %}{% if page.url contains '/project/' %}current{% endif %}{% endunless %}">
    <a href="{{ site.baseurl }}/project/about/">Project</a>
  </li>
  <li class="{% if page.author %}current{% endif %}">
    <a href="{{ site.baseurl }}/news/">News</a>
  </li>
  <li class="{% if page.url contains '/download/' %}current{% endif %}">
    <a href="{{ site.baseurl }}/project/download/">Download</a>
  </li>
  <li>
    <form action="{{ site.baseurl }}/search/" method="GET" id="search-form">
      <input type="search" name="q" id="search-box" placeholder="Search">
    </form>
  </li>
</ul>
