<cpt-config>

  <!--

  Clang Power Tools configuration file (SAMPLE)

  Using cpt.config you can specify configuration options for ClangPowerTools,
  allowing your entire team to share a single CPT configuration.

  This file just has to be put in your codebase directory hierarchy's top level and
  it'll be automatically picked up.

  All clang-build.ps1 parameters are accepted, either full name or alias, as XML elements.

  -->

  <clang-flags>   "-Wall"
				, "-fms-compatibility-version=19.10"
				, "-Wmicrosoft"
				, "-Wno-invalid-token-paste"
				, "-Wno-unknown-pragmas"
				, "-Wno-unused-variable"
				, "-Wno-unused-value"
				, "-Wno-undefined-var-template"
				, "-Wno-microsoft-enum-value"
				, "-Wno-inconsistent-missing-override"
				, "-Wno-extra-tokens"
				, "-Wno-c99-extensions"
				, "-Wno-logical-op-parentheses"
				, "-Wno-invalid-source-encoding"
  </clang-flags>

  <header-filter>'.*'</header-filter>

  <treat-sai/>

  <vs-sku>'Professional'</vs-sku>

  <file-ignore>"gtest";"moc_"</file-ignore>
  
</cpt-config>
