$mainBackgroundColor: #E4F1FF; /* 主背景颜色 */
$backgroundColor1: #C3DFFF; /* 背景颜色层 1 */
$backgroundColor2: #C3DFFF; /* 背景颜色层 2 */
$backgroundColor3: #E4F1FF; /* 背景颜色层 3 */
$ScrollBarColor: #0068DF; /* 滚动条颜色 */
$textColor: #000000; /* 主文本颜色 */
$inputColor: #C3DFFF; /* 输入框背景颜色 */
$buttonColor: #459CFF; /* 按钮颜色 */
$buttonHoverColor: #0661D6; /* 按钮悬停颜色 */
$primaryColor: #3e7aa7; /* 主要颜色 */
$secondaryColor: #cc6632; /* 次要颜色 */
$tertiaryColor: #ffc50d; /* 第三颜色 */
$senaryColor: #a54ce5; /* 第六颜色 */
$borderColor: #459CFF; /* 边框颜色 */
$curveColorGas: #a91210; /* 气体曲线颜色 */
$curveColorOil: #7ba700; /* 油曲线颜色 */
$curveColorWater: #3e7aa7; /* 水曲线颜色 */
$externalInputColor: #e82257; /* 外部输入背景颜色 */
/* =====================================================
   全局 / 通用 元素样式
   ===================================================== */
/* 
*/
QTreeView[state="UseRadioButtons"] {
    color: $textColor;
    selection-color: $textColor;
}

QTreeView[state="UseRadioButtons"]::indicator:checked {
    image: url(:/themes/shared/radio-button-active.svg);
}

QTreeView[state="UseRadioButtons"]::indicator:unchecked {
    image: url(:/themes/shared/radio-circle-active.svg);
}


svg {
    stroke: currentColor;
    stroke-width: 2;
    fill: none;
}

/* 全局复选框 / 指示器样式（Checkbox / Indicator） */
QCheckBox::indicator,
QTreeView::indicator,
QTableView::indicator,
QListWidget::indicator {
    background-color: $backgroundColor1;
    border-radius: 3px;
    width: 16px;
    height: 16px;
}

    QCheckBox::indicator:unchecked,
    QTreeView::indicator:unchecked,
    QTableView::indicator:unchecked,
    QListWidget::indicator:unchecked {
        image: url(:/themes/dark/checkbox-unchecked.svg);
    }

    QCheckBox::indicator:checked,
    QTreeView::indicator:checked,
    QTableView::indicator:checked,
    QListWidget::indicator:checked {
        image: url(:/themes/shared/checkbox-checked.svg);
    }

    QCheckBox::indicator:indeterminate,
    QTreeView::indicator:indeterminate,
    QTableView::indicator:indeterminate,
    QListWidget::indicator:indeterminate {
        image: url(:/themes/dark/checkbox-indeterminate.svg);
    }

    QCheckBox::indicator:unchecked:disabled,
    QTreeView::indicator:unchecked:disabled,
    QTableView::indicator:unchecked:disabled,
    QListWidget::indicator:unchecked:disabled {
        image: url(:/themes/dark/checkbox-unchecked-disabled.svg);
    }

    QCheckBox::indicator:checked:disabled,
    QTreeView::indicator:checked:disabled,
    QTableView::indicator:checked:disabled,
    QListWidget::indicator:checked:disabled {
        image: url(:/themes/dark/checkbox-checked-disabled.svg);
    }

    QCheckBox::indicator:indeterminate:disabled,
    QTreeView::indicator:indeterminate:disabled,
    QTableView::indicator:indeterminate:disabled,
    QListWidget::indicator:indeterminate:disabled {
        image: url(:/themes/dark/checkbox-indeterminate-disabled.svg);
    }

/* 绘图（QwtPlot）相关样式 */
QwtPlot["*"]::grid["*"] {
    color: $backgroundColor2;
}

QwtPlot["*"]::legend {
    text-color: $textColor;
}

RiuQwtPlotWidget {
    color: $textColor;
}

QwtPlot QWidget {
    color: $textColor;
}

QwtTextLabel {
    color: $textColor;
}

QwtPlot["PvtPlot"]::picker {
    text-color: $textColor;
}

QwtPlot["PvtPlot"]::curve["Auxiliary"] {
    line-color: #ffffff;
}

QwtPlot["PvtPlot"]::curve["Oil"] {
    line-color: $curveColorOil;
    symbol-color: $curveColorOil;
}

QwtPlot["PvtPlot"]::curve["Gas"] {
    line-color: $curveColorGas;
    symbol-color: $curveColorGas;
}

QwtPlot["RelPermPlot"]::curve["KRW"] {
    line-color: $curveColorWater;
    symbol-color: $curveColorWater;
}

QwtPlot["RelPermPlot"]::curve["KROW"] {
    line-color: $curveColorWater;
    symbol-color: $curveColorWater;
}

QwtPlot["RelPermPlot"]::curve["PCOW"] {
    line-color: $tertiaryColor;
    symbol-color: $tertiaryColor;
}

QwtPlot["RelPermPlot"]::curve["KRG"] {
    line-color: $curveColorGas;
    symbol-color: $curveColorGas;
}

QwtPlot["RelPermPlot"]::curve["KROG"] {
    line-color: $curveColorGas;
    symbol-color: $curveColorGas;
}

QwtPlot["RelPermPlot"]::curve["PCOG"] {
    line-color: $senaryColor;
    symbol-color: $senaryColor;
}

QwtPlot["PvtPlot"]::lineMarker["*"] {
    color: $textColor;
}

QwtPlot["PvtPlot"]::pointMarker["*"] {
    color: $textColor;
}

/* 按钮、输入与表单控件 */
QProgressBar {
    border-color: $borderColor;
    text-align: center;
    background-color: $backgroundColor1;
    color: $textColor;
}

QLineEdit,
QComboBox,
QSpinBox,
QDoubleSpinBox,
QDateEdit,
QDateTimeEdit {
    background-color: $inputColor;
    color: $textColor;
    padding: 3px;
    border: 1px solid $borderColor;
    selection-background-color: $secondaryColor;
}

    QLineEdit:focus,
    QComboBox:focus,
    QSpinBox:focus,
    QDoubleSpinBox:focus,
    QDateEdit:focus,
    QDateTimeEdit:focus {
        border: 2px solid $primaryColor;
    }

/* 工具栏、工具按钮与菜单 */
QToolBar {
    background-color: $mainBackgroundColor;
    border: none;
}

    QToolBar QToolButton {
        background: transparent; /* 透明背景 */
        border: none; /* 无边框 */
        qproperty-iconSize: 24px 24px; /* 图标大小 */
    }

    QToolBar QComboBox {
        background-color: #ffffff; /* 工具栏下拉框背景色 */
        border: 1px solid $borderColor; /* 边框 */
    }

    QToolBar QToolButton:hover {
        background-color: $primaryColor;
        border: none;
    }

    QToolBar QWidget {
        background-color: transparent;
        border-color: $borderColor;
    }

QMenuBar::item:selected {
    background-color: $primaryColor;
    color: $textColor;
}

QMenu {
    border: none;
}

    QMenu::item:selected {
        background-color: $primaryColor;
        color: $textColor;
    }

    QMenu::icon:checked {
        background-color: $primaryColor;
        border: 1px inset $backgroundColor1;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        left: 1px;
    }

/* 标签、文本与窗体相关 */
QToolBox {
    background-color: $mainBackgroundColor;
}

QLabel {
    background-color: transparent;
    color: $textColor;
}

QWidget,
QFrame,
QMainWindow,
QDialog,
QMenu,
QLabel,
QCheckBox,
QTabBar,
QDockWidget,
QTextEdit,
QPlainTextEdit,
QScrollArea,
QTextBrowser,
QGroupBox,
QRadioButton {
    background-color: $mainBackgroundColor;
    color: $textColor;
    border-color: $borderColor;
    selection-background-color: $primaryColor;
}

RiuAbstractOverlayContentFrame,
RiuDraggableOverlayFrame {
    background-color: rgba(36, 41, 46, 0.3);
}

QTextEdit,
QPlainTextEdit {
    border: 1px solid $borderColor;
}

QWidget[state="ExternalInput"] {
    background-color: $externalInputColor;
    border: 2px solid $borderColor;
}

QWidget:readonly {
    background-color: $backgroundColor1;
    color: $backgroundColor3;
}

/* 表格、列表、抽象项视图 */
QAbstractItemView {
    border: 1px solid $borderColor;
    border-style: solid;
    outline: 0;
}

    QAbstractItemView::item:hover {
        background-color: $primaryColor;
    }

    QAbstractItemView::item:selected {
        background-color: $secondaryColor;
        color: $textColor;
    }

QHeaderView {
    background-color: $backgroundColor1;
    border: none;
}

    QHeaderView::section {
        background-color: $backgroundColor1;
        border-bottom: 1px solid #666666; /* 下边框：深灰色实线 */
        border-right: 1px solid #666666; /* 右边框：深灰色实线 */
        border-left: none; /* 取消左边框 */
        border-top: none; /* 取消上边框 */
        color: $textColor;
        padding: 4px;
    }

QTableView QTableCornerButton::section {
    background: transparent;
}

QTableView QTableCornerButton::section {
    background: transparent;
}

/* 树视图分支与图标 */
QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(:/themes/shared/dark-collapsed.svg);
    width: 12px;
    height: 12px;
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
    border-image: none;
    image: url(:/themes/shared/comboBox-arrow.svg);
    icon-size: 12px;
}

/* 头部、分页与选项卡 */
QTabWidget {
    background-color: #535353;
}

    QTabWidget::pane {
        border-top: 1px solid $backgroundColor3;
        background-color: $mainBackgroundColor;
    }

QTabBar::tab {
    background-color: $backgroundColor1;
    border: 1px solid #2C2C2C;
    border-bottom: 0px;
    border-radius: 1px;
    padding: 6px;
}

    QTabBar::tab:selected,
    QTabBar::tab:hover {
        background-color: $backgroundColor3;
    }

    QTabBar::tab:selected {
        border-bottom: 0px;
    }

    QTabBar::tab:!selected {
        color: $textColor;
    }

/* 进度、LCD、压缩面板等 */
QLCDNumber {
    color: $textColor;
    border-color: $borderColor;
    border-width: 1.5px;
    border-style: solid;
    border-radius: 5px;
}

QProgressBar {
    border-color: $borderColor;
    text-align: center;
    background-color: $backgroundColor1;
    color: $textColor;
}

/* 滚动条（Scrollbar） */
QScrollBar:vertical {
    border: 0px;
    background: transparent;
    width: 5px;
    margin: 0px 0px 0px 0px;
}

    QScrollBar:vertical:hover {
        background: $backgroundColor2;
    }

QScrollBar::handle:vertical {
    background: rgba(0, 104, 223, 0.5);
    min-height: 20px;
    margin: 1px 1px 1px 1px;
    border-radius: 1px;
}

    QScrollBar::handle:vertical::hover,
    QScrollBar::handle:horizontal::hover {
        background: rgba(0, 104, 223, 0.9);
    }

    QScrollBar::handle:vertical::pressed,
    QScrollBar::handle:horizontal::pressed {
        background: rgba(0, 104, 223, 0.9);
    }

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    border: 0px;
    height: 0px;
}

QScrollBar::up-arrow:vertical,
QScrollBar::down-arrow:vertical,
QScrollBar::down-arrow:horizontal,
QScrollBar::up-arrow:horizontal {
    border: 0px;
    background: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical,
QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal {
    background: none;
}

QScrollBar:horizontal {
    border: 0px;
    background: transparent;
    height: 5px;
    margin: 0px 0px 0px 0px;
}

    QScrollBar:horizontal:hover {
        background: $backgroundColor2;
    }

QScrollBar::handle:horizontal {
    background: rgba(0, 104, 223, 0.5);
    min-width: 20px;
    margin: 1px 1px 1px 1px;
    border-radius: 1px;
}

/* 特定命名框架与面板样式（ID 选择器） */
QFrame#FramedGroupContent {
    background-color: $mainBackgroundColor;
    border-top: 1px solid $borderColor;
}

QFrame#GroupTitleFrame QToolButton {
    padding: 3px;
}

QMinimizePanel {
    qproperty-background: $mainBackgroundColor;
    qproperty-titleBackground: $backgroundColor2;
    qproperty-border: $borderColor;
    qproperty-expandIconPath: url(:/themes/dark/arrow-down.svg);
    qproperty-collapseIconPath: url(:/themes/dark/arrow-up.svg);
    qproperty-iconSize: 8px;
    border: 2px solid $backgroundColor2;
}

    QMinimizePanel QLabel,
    QMinimizePanel QCheckBox,
    QToolButton {
        background-color: transparent;
    }

/* 分组/边框/分割线等 */
QFrame#FramedGroupContent {
    background-color: $mainBackgroundColor;
    border-top: 1px solid $borderColor;
}

/* 特殊控件：ComboBox 下拉箭头、下拉列表背景 */
QComboBox::drop-down {
    subcontrol-origin: padding;
    subcontrol-position: top right;
    width: 18px;
    border: 0px;
}

QComboBox QAbstractItemView {
    background-color: $inputColor;
}

QComboBox::down-arrow {
    image: url(:/themes/shared/comboBox-arrow.svg);
    width: 18px;
    height: 14px;
}

/* 窗口停靠、浮动以及停靠系统样式（Advanced docking system）
   基于 ResInsight 第三方 qtadvanceddocking 的默认样式
*/

/* CDockContainerWidget 基础 */
ads--CDockContainerWidget {
    background: $mainBackgroundColor;
}

    ads--CDockContainerWidget > QSplitter {
        padding: 1 0 1 0;
    }

ads--CDockContainer ads--CDockSplitter::handle {
    background: $backgroundColor3;
}

/* CDockAreaWidget */
ads--CDockAreaWidget {
    background: $mainBackgroundColor;
}

ads--CTitleBarButton {
    padding: 0px 0px;
    background: $backgroundColor2;
}

#tabsMenuButton::menu-indicator {
    image: none;
}

#tabsMenuButton {
    qproperty-icon: url(:/ads/images/tabs-menu-button.svg);
    qproperty-iconSize: 16px;
}

#dockAreaCloseButton {
    qproperty-icon: url(:/ads/images/close-button.svg), url(:/ads/images/close-button-disabled.svg) disabled;
    qproperty-iconSize: 16px;
}

#detachGroupButton {
    qproperty-icon: url(:/ads/images/detach-button.svg), url(:/ads/images/detach-button-disabled.svg) disabled;
    qproperty-iconSize: 16px;
}

/* CDockWidgetTab 与 关闭按钮 */
ads--CDockWidgetTab {
    background: $mainBackgroundColor;
    border-color: $backgroundColor1;
    border-style: solid;
    border-width: 0 1px 0 0;
    padding: 0 0px;
}

    ads--CDockWidgetTab[activeTab="true"] {
        background: $backgroundColor1;
    }

    ads--CDockWidgetTab QLabel {
        color: $textColor;
        background: $mainBackgroundColor;
    }

    ads--CDockWidgetTab[activeTab="true"] QLabel {
        color: $textColor;
        background: $backgroundColor1;
    }

#tabCloseButton {
    margin-top: 2px;
    background: $backgroundColor2;
    border: none;
    padding: 0px -2px;
    qproperty-icon: url(:/ads/images/close-button.svg), url(:/ads/images/close-button-disabled.svg) disabled;
    qproperty-iconSize: 16px;
}

    #tabCloseButton:hover {
        border: 1px solid $backgroundColor3;
        background: $backgroundColor3;
    }

    #tabCloseButton:pressed {
        background: $backgroundColor2;
    }

/* CDockWidget */
ads--CDockWidget {
    background: $mainBackgroundColor;
    border-color: $backgroundColor1;
    border-style: solid;
    border-width: 1px 0 0 0;
}

QScrollArea#dockWidgetScrollArea {
    padding: 0px 0px 0px 8px; /* 左侧留出 8px 间隙，避免编辑框超出窗口显示范围 */
    border: none;
}

/* 自动隐藏（Auto hide）相关样式分组 */
ads--CAutoHideTab {
    qproperty-iconSize: 16px 16px;
    /* 如果需要更改图标大小，可修改此处 */
    background: none;
    border: none;
    padding-left: 2px;
    padding-right: 0px;
    text-align: center;
    min-height: 20px;
    padding-bottom: 2px;
}

    ads--CAutoHideTab:hover {
        color: palette(highlight);
    }

    ads--CAutoHideTab[iconOnly="false"][sideBarLocation="0"],
    ads--CAutoHideTab[iconOnly="false"][sideBarLocation="2"] {
        border-top: 6px solid rgba(0, 0, 0, 48);
    }

    ads--CAutoHideTab[iconOnly="false"][sideBarLocation="1"],
    ads--CAutoHideTab[iconOnly="false"][sideBarLocation="3"] {
        border-bottom: 6px solid rgba(0, 0, 0, 48);
    }

    ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="0"],
    ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="2"],
    ads--CAutoHideTab[iconOnly="false"][sideBarLocation="0"][activeTab="true"],
    ads--CAutoHideTab[iconOnly="false"][sideBarLocation="2"][activeTab="true"] {
        border-top: 6px solid palette(highlight);
    }

    ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="1"],
    ads--CAutoHideTab:hover[iconOnly="false"][sideBarLocation="3"],
    ads--CAutoHideTab[iconOnly="false"][sideBarLocation="1"][activeTab="true"],
    ads--CAutoHideTab[iconOnly="false"][sideBarLocation="3"][activeTab="true"] {
        border-bottom: 6px solid palette(highlight);
    }

    /* 仅图标的自动隐藏标签样式 */
    ads--CAutoHideTab[iconOnly="true"][sideBarLocation="0"] {
        border-top: 6px solid rgba(0, 0, 0, 48);
    }

    ads--CAutoHideTab[iconOnly="true"][sideBarLocation="1"] {
        border-left: 6px solid rgba(0, 0, 0, 48);
    }

    ads--CAutoHideTab[iconOnly="true"][sideBarLocation="2"] {
        border-right: 6px solid rgba(0, 0, 0, 48);
    }

    ads--CAutoHideTab[iconOnly="true"][sideBarLocation="3"] {
        border-bottom: 6px solid rgba(0, 0, 0, 48);
    }

    /* 仅图标自动隐藏标签悬停样式 */
    ads--CAutoHideTab:hover[iconOnly="true"][sideBarLocation="0"],
    ads--CAutoHideTab[iconOnly="true"][sideBarLocation="0"][activeTab="true"] {
        border-top: 6px solid palette(highlight);
    }

    ads--CAutoHideTab:hover[iconOnly="true"][sideBarLocation="1"],
    ads--CAutoHideTab[iconOnly="true"][sideBarLocation="1"][activeTab="true"] {
        border-left: 6px solid palette(highlight);
    }

    ads--CAutoHideTab:hover[iconOnly="true"][sideBarLocation="2"],
    ads--CAutoHideTab[iconOnly="true"][sideBarLocation="2"][activeTab="true"] {
        border-right: 6px solid palette(highlight);
    }

    ads--CAutoHideTab:hover[iconOnly="true"][sideBarLocation="3"],
    ads--CAutoHideTab[iconOnly="true"][sideBarLocation="3"][activeTab="true"] {
        border-bottom: 6px solid palette(highlight);
    }

/* CAutoHideSideBar */
ads--CAutoHideSideBar {
    background: palette(window);
    border: none;
    qproperty-spacing: 12;
}

#sideTabsContainerWidget {
    background: transparent;
}

ads--CAutoHideSideBar[sideBarLocation="0"] {
    border-bottom: 1px solid palette(dark);
}

ads--CAutoHideSideBar[sideBarLocation="1"] {
    border-right: 1px solid palette(dark);
}

ads--CAutoHideSideBar[sideBarLocation="2"] {
    border-left: 1px solid palette(dark);
}

ads--CAutoHideSideBar[sideBarLocation="3"] {
    border-top: 1px solid palette(dark);
}

/* CAutoHideDockContainer */
ads--CAutoHideDockContainer {
    background: palette(window);
}

    ads--CAutoHideDockContainer ads--CDockAreaTitleBar {
        background: palette(highlight);
        padding: 0px;
        border: none;
    }

    /* 由于 ads--CDockAreaWidget[focused="true"] 会覆盖上面规则，这里再次指定 */
    ads--CAutoHideDockContainer ads--CDockAreaWidget[focused="true"] ads--CDockAreaTitleBar {
        background: palette(highlight);
        padding: 0px;
        border: none;
    }

#autoHideTitleLabel {
    padding-left: 4px;
    color: palette(light);
}

/* CAutoHideDockContainer 标题按钮 */
#dockAreaAutoHideButton {
    qproperty-icon: url(:/ads/images/vs-pin-button.svg);
    qproperty-iconSize: 16px;
}

ads--CAutoHideDockContainer #dockAreaAutoHideButton {
    qproperty-icon: url(:/ads/images/vs-pin-button-pinned-focused.svg);
    qproperty-iconSize: 16px;
}

ads--CAutoHideDockContainer #dockAreaCloseButton {
    qproperty-icon: url(:/ads/images/close-button-focused.svg)
}

ads--CAutoHideDockContainer ads--CTitleBarButton:hover {
    background: rgba(255, 255, 255, 48);
}

ads--CAutoHideDockContainer ads--CTitleBarButton:pressed {
    background: rgba(255, 255, 255, 96);
}

/* CResizeHandle */
ads--CResizeHandle {
    background: palette(window);
}

ads--CAutoHideDockContainer[sideBarLocation="0"] ads--CResizeHandle {
    border-top: 1px solid palette(dark);
}

ads--CAutoHideDockContainer[sideBarLocation="1"] ads--CResizeHandle {
    border-left: 1px solid palette(dark);
}

ads--CAutoHideDockContainer[sideBarLocation="2"] ads--CResizeHandle {
    border-right: 1px solid palette(dark);
}

ads--CAutoHideDockContainer[sideBarLocation="3"] ads--CResizeHandle {
    border-top: 1px solid palette(dark);
}

/* Dock 容器内按钮与图标 */
#dockAreaCloseButton {
    qproperty-icon: url(:/ads/images/close-button.svg), url(:/ads/images/close-button-disabled.svg) disabled;
    qproperty-iconSize: 16px;
}

#detachGroupButton {
    qproperty-icon: url(:/ads/images/detach-button.svg), url(:/ads/images/detach-button-disabled.svg) disabled;
    qproperty-iconSize: 16px;
}

/* CDockWidget 的标题区 */
ads--CDockWidget {
    background: $mainBackgroundColor;
    border-color: $backgroundColor1;
    border-style: solid;
    border-width: 1px 0 0 0;
}

QScrollArea#dockWidgetScrollArea {
    padding: 0px 0px 0px 8px; /* 左侧留出 8px 间隙，避免编辑框超出窗口显示范围 */
    border: none;
}

QStatusBar {
    color: $textColor;
}

/* 在文件末尾单独放置 QPushButton 样式，确保不被覆盖 */
QPushButton {
    color: $textColor;
    border-color: $borderColor;
    background-color: $buttonColor;
    border: 0px;
    padding: 3px;
}

    QPushButton:hover {
        background-color: $buttonHoverColor;
    }

/* 针对停靠窗口内的按钮设置最小尺寸，使其与 Delete/Open 等按钮高度一致 */
ads--CDockWidget QPushButton,
QDockWidget QPushButton,
QScrollArea#dockWidgetScrollArea QPushButton {
    min-width: 50px;
}

/* Process Monitor top buttons spacing: target buttons with property processMonitorButton = true */
QPushButton[processMonitorButton="true"] {
    margin-top: 3px;
}

/* Preferences dialog buttons: OK, Cancel, Help uniform min width */
RiuPropertyViewTabWidget QPushButton[preferencesDialogButton],
QDialog QPushButton[preferencesDialogButton],
QPushButton[preferencesDialogButton="true"],
QPushButton[preferencesDialogButton] {
    min-width: 50px;
}

/* 结束：自定义 qss 文件 */
