name: cmake-format

on: [push]

jobs:
  cmake-format-job:
    runs-on: ubuntu-latest
    steps:
    - name: Install cmakelang for cmake-format
      run: |
        python3 -m pip install --user cmakelang
    - uses: actions/checkout@v2
    - name: Check format - ApplicationCode
      run: |
        cd ApplicationCode
        find -name CMake*.txt | xargs ~/.local/bin/cmake-format -c ${{ github.workspace }}/cmake/cmake-format.py -i
        git diff
    - name: Check format - AppFwk
      run: |
        cd Fwk/AppFwk
        find -name CMake*.txt | xargs ~/.local/bin/cmake-format -c ${{ github.workspace }}/cmake/cmake-format.py -i
        git diff
    - uses: peter-evans/create-pull-request@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: 'Fixes by cmake-format'
        title: 'Fixes by cmake-format'
        branch: cmake-format-patches
