name: cmake-format

on: [push]

jobs:
  cmake-format-job:
    runs-on: ubuntu-20.04
    steps:
      - name: Install cmakelang for cmake-format
        run: |
          python3 -m pip install --user cmakelang
      - uses: actions/checkout@v4
      - name: Check format - ApplicationLibCode
        run: |
          ~/.local/bin/cmake-format -c ${{ github.workspace }}/cmake/cmake-format.py -i CMakeLists.txt

          cd ApplicationLibCode
          find -name CMake*.txt | xargs ~/.local/bin/cmake-format -c ${{ github.workspace }}/cmake/cmake-format.py -i
          find -name CMake*.cmake | xargs ~/.local/bin/cmake-format -c ${{ github.workspace }}/cmake/cmake-format.py -i
          cd ..

          cd ApplicationExeCode
          find -name CMake*.txt | xargs ~/.local/bin/cmake-format -c ${{ github.workspace }}/cmake/cmake-format.py -i
          cd ..

          cd Octave
          find -name CMake*.txt | xargs ~/.local/bin/cmake-format -c ${{ github.workspace }}/cmake/cmake-format.py -i
          cd ..

          cd Fwk/AppFwk
          find -name CMake*.txt | xargs ~/.local/bin/cmake-format -c ${{ github.workspace }}/cmake/cmake-format.py -i
          cd ..

          git diff
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Fixes by cmake-format"
          title: "Fixes by cmake-format"
          branch: cmake-format-patches
          branch-suffix: random
