name: Remove old artifacts

on: [push]

jobs:
  remove-old-artifacts:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: setup python
        uses: actions/setup-python@v2  
        with:
          python-version: 3.8
      - name: Remove old artifacts
        run: |
          python -m pip install --upgrade pip
          pip install urllib3 requests
          cd .github/workflows
          python delete_artifacts.py ${{ secrets.GITHUB_TOKEN }}
