name: Spell Check

on:
  - push

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v4
      - uses: sobolevn/misspell-fixer-action@master
        with:
          options: "-rsvnuR ApplicationLibCode/"
      - uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Fixes by misspell-fixer"
          title: "Typos fix by misspell-fixer"
          branch: spell-check-patches
          branch-suffix: random
